<form ng-submit="add()">
  <label for="category">Category</label>
  <select ng-model="form.category_id" name="categoryid">
    <option ng-repeat="category in categories" value={{category.id}}>{{category.name}}</option>
  </select><br><br>
  <label for="name">Name</label>
  <input type="text" name="name" ng-model="form.name"><br><br>
  <label for="price">Price</label>
  <input type="text" name="price" ng-model="form.price"><br><br>
  <label for="description">Description</label>
  <input type="text" name="description" ng-model="form.description"><br><br>
  <button type="submit">Submit</button>
</form>
<!-- <script>
var item = {};
  $('#form').on('submit', function(event){
    event.preventDefault();
    item = {
      name: $('input[name="name"]').val(),
      description: $('input[name="description"]').val(),
      price: $('input[name="price"]').val(),
      category_id: $('input[name="category"]').val()
    }
    console.log(item);
    console.log('form submotted');
  });

$('#submit').on('click', function(event){
  addtomenu();
  event.preventDefault();

})
</script> -->
