<div class="kitchen-container">
	<h1>Kitchen</h1>
	<h3>Showing {{bool.prefix}} Orders</h3><span ng-click="toggle()">(Toggle)</span>
	<ul class="order-row">
	  <li ng-repeat="order in allorders | filter: { complete: bool.status }" class="order-row-li">
	  	<div class="block id-block">
	  		<p>Order ID</p>
	  		<p class="id-number">{{order.id}}</p>
	  	</div>
	  	<div class="block customer-name-block">
	  		<p>Customer Name</p>
	  		<p class="name-paragraph">{{order.customer}}</p>
	  	</div>	      
	  	<div class="block menu-items-block">
	  		<p>Menu Items:</p>
	  		<ul>
		      <li ng-repeat="item in order.menuitems">
		      	<div class="qty">{{item.quantity}}</div>
		      	<div class="description">{{item.description}}</div>		       
		      </li>
		    </ul>
	  	</div>	      	      
	 	<div class="block mark-complete-block">
	 		<button ng-hide="bool.status" ng-click="completeorder({order: order})">Done</button>	
	 	</div>   	 
	  </li>
	</ul>
</div>