<div class="kitchen-container">
	<div class="kitchen-header">
		<h1 class="kitchen-title">Kitchen</h1>
		<div class="toggle-container">
			<h3 class="showing-orders">Showing {{bool.prefix}} Orders</h3>
			<button ng-click="toggle()" class="toggle-orders">Toggle</button>
		</div>
	</div>
	<ul class="order-row">
	  <!-- <li ng-repeat="order in allorders | filter: { complete: bool.status } | orderBy:'-order.id'" class="order-row-li"> -->
	  <li ng-repeat="order in allorders | filter: { complete: bool.status } " class="order-row-li">
	  	<div class="block id-block">
	  		<p>Order ID</p>
	  		<p class="id-number">{{order.id}}</p>
	  	</div>
	  	<div class="block customer-name-block">
	  		<p>Customer Name</p>
	  		<p class="name-paragraph">{{order.customer}}</p>
	  	</div>
	  	<div class="block menu-items-block">
	  		<p>Menu Items</p>
	  		<ul>
		      <li ng-repeat="item in order.menuitems">
		      	<div class="qty">{{item.quantity}}</div>
		      	<div class="description">{{item.description}}</div>
		      </li>
		    </ul>
	  	</div>
	 	<div class="block mark-complete-block">
	 		<button ng-hide="bool.status" ng-click="completeorder({order: order, allorders: allorders})" class="done">Done</button>
	 		<button ng-hide="!bool.status" ng-click="readdorder({order: order, allorders: allorders})" class="back">Put Back</button>
	 	</div>
	  </li>
	</ul>
</div>
