<div ng-controller='confirmationController'>
<h1> Thank you <span style="color:yellow">{{neworder.customer}}</span></h1>
<h3> Our kitchen staff is perparing on your order! </h3>
<ul style="list-style-type: none; border: solid;"> 
  <li style="margin-bottom: 7px">Order number {{neworder.id }}</li>
      <li ng-repeat='item in neworder.menuitems' style="list-style-type: none; text-align:center; margin-bottom: 7px ">{{item.quantity }} {{item.description}} </li>
  <li>Total : ${{neworder.totalprice}} </li> 
</ul>
  <h2>Enter your email for discounts and special offers!! </h2>
  <input ng-model="form.categoryname" type="text" name="name" placeholder="*Optional">
  <confirmation><button style="background-color:yellow; font-size:12px; border-radius: 8px" ng-click='sendEmail(form.categoryname)' id="submit">Submit</button></confirmation>
  </div>
