<!-- <div ng-controller='confirmationController'>
<h1> Thank you <span style="color:yellow">{{customer}}</span></h1>
<h3> Our kitchen staff is perparing on your order! </h3>
<ul style="list-style-type: none; border: solid;border-radius:18px; width:100%; "> 
  <li style="margin-bottom: 7px">Order number <span style="color:orange">{{orderid }}</span></li>
      <li ng-repeat='item in neworder' style="list-style-type: none; text-align:center; margin-bottom:7px">{{item.quantity }} {{item.description}} </li>
  <li>Total : ${{totalprice}} </li> 
</ul>
<h2>Enter your name and email for discounts and special offers! </h2>
<input ng-model="church" type="text" name="name" placeholder="Name">
<input ng-model="form.categoryname" type="text" name="name" placeholder="Email">
<confirmation><button style="background-color:orange; font-size:12px; border-radius: 8px" ng-click='sendEmail(form.categoryname, church); form.categoryname = null; church = null' id="submit"> 
Submit</button></confirmation>
</div> -->