<div ng-controller='confirmationController' class="confirmation-container">
<h2> Thank you <span class="customer-name">{{church}}</span></h2>
<h3> Our kitchen staff is preparing your order! </h3>
<ul>
  <li class="order-number">Order number <span>{{orderid }}</span></li>
      <li ng-repeat='item in neworder' style="list-style-type: none; text-align:center; margin-bottom: 7px ">{{item.quantity }} {{item.description}} </li>
  <li>Total : ${{totalprice}} </li>
</ul>
<h2>Enter your name and email for discounts and special offers! </h2>
<input ng-model="church" type="text" name="name" placeholder="Name"><br><br>
<input ng-model="form.categoryname" type="text" name="name" placeholder="Email">
<confirmation>
  <br><br>
  <button style="background-color:#f4b556; font-size:12px; border-radius: 8px" ng-click='sendEmail(form.categoryname, church); form.categoryname = null; church = null' id="submit">
    Submit
  </button>
</confirmation>
</div>
<div class="total-button">
 	<a href="/">
 		<button>Back to Home</button>
 	</a>
</div>
