<h1>{{name}} Menu</h1>
<ul class="menu-list">
  <li ng-repeat="item in data track by $index" class="menu-li-element">
    <div ng-click="click({item: item})" class="menu-li-div">
    	<div class="item-title">{{item.name}}</div>
    	<div>${{item.price}}</div>
    	<div class="item-description">{{item.description}}</div>    	 
    </div>
  </li>
</ul>
<!-- <h1>Order</h1>
<ul>
  <li ng-repeat="item in added track by $index">
    <div ng-click="addedclick({index: $index})">{{item.name}} | ${{item.price}} | {{item.description}} - CLICK ME</div>
  </li>
</ul> -->
