<form ng-submit="add()" class="admin-forms">
  <div>
    <label for="category">Category</label>    
  </div>

  <div>
    <select ng-model="form.category_id" name="categoryid">    
    <option ng-repeat="category in categories" value={{category.id}}>{{category.name}}</option>
    </select>
  </div>
  
  <div>
    <label for="name">Name</label>    
  </div>

  <div>    
    <input type="text" name="name" ng-model="form.name">
  </div>
  
  <div>
    <label for="price">Price</label>
  </div>

  <div>    
    <input type="text" name="price" ng-model="form.price">
  </div>

  <div>    
    <label for="description">Description</label>
  </div>
  
  <div>
    <input type="text" name="description" ng-model="form.description">    
  </div>

  <button type="submit">Create Menu Item</button>
</form>
